{% extends 'food/base.html' %}
{% load static %}
{% block title %} SignUp {% endblock title %}

{% block content %}
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6 p-5 bg-dark text-light text-center">
        <h3>Sign-Up</h3>
        <a href="{% url 'food:login' %}" class="p-2">Log-In</a>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <div>
                {{ field.label_tag }}
              </div>
              <div>
                {{ field }}
              </div>
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
          {% for error in form.errors %}
            <small style="color: red">{{ field.help_text }}</small>
          {% endfor %}
          <button type="submit" class="btn-info">SignUp</button>
        </form>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
{% endblock %}
